/* Importando Fonts Externas */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* Resetando CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body{
    background-color: rebeccapurple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    animation: changeBackgroundColor 7s infinite ease-in-out;
}

@keyframes changeBackgroundColor {
    0% {
      background-color: rebeccapurple;
    }
    25% {
      background-color: rgb(130, 10, 130);
    }
    75% {
      background-color: rgb(51, 63, 153);
    }
    100% {
      background-color: rebeccapurple;
    }
  }

#titulo{
    font-size: 36px;
}

#subtitulo{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 1pt;
}

.pw-container{
    background-color: rgb(46, 12, 80);
    box-shadow: 7px 7px 0px 5px #00000033;
    min-width: 360px;
    border-radius: 5%;
}

.pw-header{
    padding: 1rem;
}

.pw {
    background-color: rgb(68, 28, 109);
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;

    border-radius: 10px;
}

.pw button{
    background-color: white;
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;

    opacity: 0;
    transform: translate(-25%, -25%);
    transition: opacity 0.2s ease, transform 0.2s ease; */
}

.pw:hover button{
    opacity: 1;
    transform: translate(-25%, 0%);
}

.pw-body{
    padding: 0 2rem 2rem;
}

.pw-body label{
    font-size: 14px;
}

.pw-body #len{
    border-radius: 3px;
    border: none;
    font-size: 12px;
    text-align: center;
    padding: 2px 0;
    width: 40px;
}

.pw-body #len:focus{
    outline: none;
}

.form-control{
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
    
}

.generate{
    background-color: #ecb602;
    border: none;
    color: rebeccapurple;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 3px #00000033;
}

.generate:active{
    transform: translate(3px, 3px);
    box-shadow: none;
}

#rodape{
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1pt;
    font-weight: 100;
}

